version: 2.1

orbs:
  terraform: circleci/terraform@3.2.0
  aws-cli: circleci/aws-cli@3.1.4

jobs:
  provision_infra:
    docker:
      - image: cimg/aws:2022.06
    steps:

      - checkout
      - aws-cli/setup:
          role-arn: 'arn:aws:iam::715930815444:role/circleci-oidc-role-provisioning-role'
          # optional parameters
          profile-name: "CIRCLECI-OIDC-PROVISIONING-PROFILE"
          role-session-name: circleci-aws-ecr-publish-job
          session-duration: "1800"
      # - run:
      #    name: Log-into-AWS-ECR
      #    command: |
      #      # must use same profile specified in the step above       
      #      aws_ecr_pwd=$(aws ecr get-login-password --profile "OIDC-PROFILE")
      #      echo $aws_ecr_pwd
      #      echo "export DOCKER_PASSWORD=$aws_ecr_pwd" >> "$BASH_ENV"
      #      source $BASH_ENV
      #      echo "export AWS_DOCKER_LOGIN=AWS" >> "$BASH_ENV"
      #      source $BASH_ENV
      - run:
          name: Create local .terraformrc file
          command: |
            echo -en "credentials \"app.terraform.io\" {token = \"$TF_CLOUD_TOKEN\"}" > $HOME/.terraformrc
      - terraform/install:
          terraform_version: 1.3.7
      - terraform/init
      - terraform/plan:
          var: "circleci_oidc_org_id=$CIRCLECI_ORG_ID"

      - terraform/apply:
          var: "circleci_oidc_org_id=$CIRCLECI_ORG_ID"

      
workflows:
  provision:
    jobs:
      - provision_infra:
          context:
            - tf_cloud
            - circleci_oidc_org
