version: 2.1

orbs:
  terraform: circleci/terraform@3.2.0
  aws-cli: circleci/aws-cli@3.1.4

commands:
  setup_terraform:
    steps:
      - run:
          name: Create local .terraformrc file
          command: |
            echo -en "credentials \"app.terraform.io\" {token = \"$TF_CLOUD_TOKEN\"}" > $HOME/.terraformrc
      - terraform/install:
          terraform_version: 1.3.7
      - terraform/init

jobs:
  plan_infra:
    docker:
      - image: cimg/aws:2022.06
    steps:
      - checkout
      - aws-cli/setup:
          role-arn: "arn:aws:iam::715930815444:role/circleci-oidc-role-provisioning-role"
          role-session-name: circleci-aws-ecr-publish-job
          session-duration: "1800"
      - setup_terraform
      - terraform/plan:
          var: "circleci_oidc_org_id=$CIRCLECI_ORG_ID"
  provision_infra:
    docker:
      - image: cimg/aws:2022.06
    steps:
      - checkout
      - aws-cli/setup:
          role-arn: "arn:aws:iam::715930815444:role/circleci-oidc-role-provisioning-role"
          role-session-name: circleci-aws-ecr-publish-job
          session-duration: "1800"
      - setup_terraform
      - terraform/apply:
          var: "circleci_oidc_org_id=$CIRCLECI_ORG_ID"

workflows:
  provision:
    jobs:
      - plan_infra:
          context:
            - tf_cloud
            - circleci_oidc_org
            - circleci_api
      - wait_for_aproval:
          type: approval
          filters:
            branches:
              only: 
                - main
      - provision_infra:
          context:
            - tf_cloud
            - circleci_oidc_org
            - circleci_api
