version: 2.1

orbs:
  terraform: circleci/terraform@3.2.0

jobs:
  provision_infra:
    docker:
      - image: cimg/base:stable
    steps:

      - checkout
      - run:
          name: Create local .terraformrc file
          command: |
            echo -en "credentials \"app.terraform.io\" {token = \"$TF_CLOUD_TOKEN\"}" > $HOME/.terraformrc
      - terraform/install:
          terraform_version: 1.3.7
      - terraform/init
      - terraform/plan
      - terraform/apply
      
workflows:
  provision:
    jobs:
      - provision_infra
